.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: #000;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    box-sizing: border-box;
    gap: 10px;
    background-color: #cfcfcf;
  }


  .left {
    border-bottom-left-radius: 20px;
    margin-right: -34px;
    padding-right: 54px;
    border-bottom: 2px solid white;
    flex-basis: 152px;

    &:hover {
      border-width: 0;
    }
  }

  .middle {
    --ng-icon__size: 3em;
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding: 10px;
    position: relative;
    z-index: 10;
    border: 2px solid white;
  }

  .right {
    margin-left: -34px;
    flex-basis: 152px;
    padding-left: 54px;
    border-bottom: 2px solid white;
    border-bottom-right-radius: 20px;

    &:hover {
      border-width: 0;
    }
  }

}