@use 'sass:math';
@use 'sass:list';


#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle-1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vmin;
  height: 20vmin;
  background-color: rgb(59, 52, 167, .6);
  border-radius: 100%;
  animation: pulse-small 2s infinite;
}

.circle-2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(48, 42, 138, 0.6);
  border-radius: 100%;
  animation: pulse-medium 2s infinite 200ms;
}

.circle-3 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(48, 42, 138, 0.6);
  border-radius: 100%;
  animation: pulse-large 2s infinite 400ms;
}


@keyframes pulse-small {
  0% {
    width: 20vmin;
    height: 20vmin;
  }

  50% {
    width: 25vmin;
    height: 25vmin;
  }

  100% {
    width: 20vmin;
    height: 20vmin;
  }
}

@keyframes pulse-medium {
  0% {
    width: 35vmin;
    height: 35vmin;
  }

  50% {
    width: 40vmin;
    height: 40vmin;
  }

  100% {
    width: 35vmin;
    height: 35vmin;
  }
}

@keyframes pulse-large {
  0% {
    width: 50vmin;
    height: 50vmin;
  }

  50% {
    width: 55vmin;
    height: 55vmin;
  }

  100% {
    width: 50vmin;
    height: 50vmin;
  }
}